navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000; /* Color de fondo del navbar */
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

ul { 
    margin: 0px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

/* CSS para el resto del contenido */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
  margin: 0; /* Eliminar márgenes predeterminados */
  padding: 0; /* Eliminar relleno predeterminado */
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-style: italic;
  overflow-y: auto; /* Agrega desplazamiento vertical */
  height: 100vh;
}

.parte-uno {
  background-image: url("redbckg.jpg");
  padding: 4em;
  text-align: center;
  margin: 0; /* Eliminar márgenes */
  width: 100vw; /* Ajustar el ancho al 100% del viewport */
  height: 100vh; /* Ajustar la altura al 100% del viewport */
  display: flex; /* Usar flexbox para centrar vertical y horizontalmente */
  align-items: center; /* Centrar verticalmente el contenido */
  justify-content: center; /* Centrar horizontalmente el contenido */
}

.name {
  font-size: 500%;
  color: #fff;
  text-shadow: 2px 2px 0 #000; /* Desplazamiento de -2px hacia la izquierda y 2px hacia abajo */
  overflow: hidden; /* Para ocultar el texto inicialmente */
  border-bottom: 3px solid transparent; /* Línea transparente para cada letra */
  animation: reveal 2s forwards; /* Animación que revela el texto */
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(100%); /* Mueve el texto hacia abajo */
  }
  to {
    opacity: 100%;
    transform: translateY(0); /* Vuelve a la posición original */
  }
}

.marquee-image {
  position: absolute;
  top: 50%;
  left: 100px; 
  position: fixed;
  transform: translateY(-50%);
  /* Ajusta el tamaño de la imagen según sea necesario */
  width: 500px; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Ajusta la altura automáticamente en función del ancho */
  z-index: 2;
}

.guitar-silhouette {
  position: absolute;
  top: 24%;
  position: fixed;
  left: 100px; /* Ajustado el valor de left */
  width: 500px; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Ajusta la altura automáticamente en función del ancho */
  z-index: 1;
}

span {
    float: left;
    width: 50%;
    overflow: hidden;
}

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.godot {
  position: absolute;
  top: 50%;
  right: 100px; 
  transform: translateY(-50%);
  /* Ajusta el tamaño de la imagen según sea necesario */
  width: 350px; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Ajusta la altura automáticamente en función del ancho */
  z-index: 2;
  position: fixed;
}

.godot_shadow {
  position: absolute;
  top: 28.5%;
  right: 90px; /* Ajustado el valor de left */
  width: 350px; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Ajusta la altura automáticamente en función del ancho */
  z-index: 1;
    position: fixed;
}

.parte-2 {
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  background-color: yellow; /* Cambia el color de fondo a amarillo */
  text-align: center; /* Centra el texto horizontalmente */
  padding: 4em; /* Añade relleno al contenido */
  margin-top: 1em; /* Añade un margen superior para separarlo del primer div */
}
