navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ad3e44 ;/* Color de fondo del navbar */
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

ul { 
  margin: 0px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  color: #f2e0c9;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background:#f2e0c9 ;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

/**/
body{
  font-family: 'Anton', sans-serif;
  margin: 0; /* Eliminar márgenes predeterminados */
  padding: 0; /* Eliminar relleno predeterminado */
}


.main {
  padding: 150px;
  background-color: #f2e0c9;
}

.name {
  color: #ad3e44;
  text-align: center; /* Center the text horizontally */
  font-size: 400%;
}

:root {
	--delay: 0;
	--duration: 800ms;
	--iterations: 1;
}
/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */


.name,
.name::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 1000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.name {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 1000ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 10vw;
	animation-name: clip-text;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ad3e44;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

.caja{
  background-color: #ad3e44;
  border-radius: 15px;
  margin-left: 15%;
  margin-top: -5%;
  margin-right: 15%;
}

.sobre-mi{
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  padding: 25px;
  letter-spacing: 2px;
  line-height: 1.5;
  color: #f2e0c9;
}

.star {
  display: block;
  margin: 0 auto; /* Centra horizontalmente */
  height: 5%;
  width: 5%;
  margin-top: 10%;
}

.skills{
  color: #ad3e44;
  text-align: center; /* Center the text horizontally */
  font-size: 400%;
}
/* Container styles */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Centrar contenido dentro de cada celda de la cuadrícula */
  gap: 5px; /* Reducir el espacio entre las celdas */
  margin-left: 150px;
  margin-right: 150px;
  grid-row-gap: 50px; /* Aumentar la separación vertical entre filas */
}


.chart {
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  margin: auto; /* Center each chart within its grid cell */
}

.chart figcaption {
  padding: 50px 25px;
  width: 100px;
  height: 50px;
  border: 20px solid #f0f0f0;
  border-radius: 100px;
  line-height: 50px;
  margin: auto; /* Center caption within the chart */
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  margin: auto; /* Center image within the chart */
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
  top: 50px;
  left: 45px;
}

.html + svg .outer {
  stroke: #e34f26;
}

.css {
  top: 52px;
  left: 46px;
}

.css + svg .outer {
  stroke: #0d84ce;
}

.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascript + svg .outer {
  stroke: #f0e040;
}

.node {
  width: 200px;
  height: 200px;
  top: 45px;
  left: 45px;
}

.node + svg .outer {
  stroke: #83cd29;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure the SVG occupies the full chart */
  height: 100%;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
}
/* END Circle colors and graphic positions */

/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 401;
  }
}
/* END Keyframes for the initial animation */
