navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000; /* Color de fondo del navbar */
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

ul { 
    margin: 0px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

/* CSS para el resto del contenido */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.name {
  font-size: 500%;
  color: #fff;
  overflow: hidden; /* Para ocultar el texto inicialmente */
  border-bottom: 3px solid transparent; /* Línea transparente para cada letra */
  animation: reveal 2s forwards; /* Animación que revela el texto */
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(100%); /* Mueve el texto hacia abajo */
  }
  to {
    opacity: 100%;
    transform: translateY(0); /* Vuelve a la posición original */
  }
}

.marquee-image {
  position: absolute;
  top: 50%;
  left: 100px; 
  transform: translateY(-50%);
  /* Ajusta el tamaño de la imagen según sea necesario */
  width: 500px; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Ajusta la altura automáticamente en función del ancho */
  z-index: 2;
}

.guitar-silhouette {
  position: absolute;
  top: 24%;
  left: 100px; /* Ajustado el valor de left */
  width: 500px; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Ajusta la altura automáticamente en función del ancho */
  z-index: 1;
}

span {
    float: left;
    width: 50%;
    overflow: hidden;
}

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}